<ul>
    <li *ngFor="let rarity of rarities" [ngClass]="rarity.cssClass">
        <h2>{{rarity.name}}</h2>
        <div class="description">
            <span>Color: {{rarity.color}} ({{rarity.colorHex}})</span><br>
            <span>Secondary Color: {{rarity.secondaryColor}} ({{rarity.secondaryColorHex}})</span><br>
            <div class="icons">
                <span *ngFor="let _ of [].constructor(rarity.iconAmount)">
                    <fa-icon class="m-1" [icon]="rarity.iconClass"></fa-icon>
                </span>
            </div> 
        </div> 
    </li>
    <li class="omega">
        <h2>...</h2>
    </li>
</ul>
