<ul>
    <li *ngFor="let rarity of rarities" [ngClass]="rarity.cssClass">
        <h2>{{rarity.name}}</h2>
        <div class="description">
            <span>Color: {{rarity.color}} ({{rarity.colorHex}})</span><br>
            <span>Secondary Color: {{rarity.secondaryColor}} ({{rarity.secondaryColorHex}})</span><br>
            <span *ngFor="let _ of [].constructor(rarity.iconAmount)">
                <fa-icon [icon]="rarity.iconClass"></fa-icon>
            </span>
        </div> 
    </li>
    <li class="omega">
        <h2>...</h2>
    </li>
</ul>
